<form action="/" method="post">
  <div>
  <label>Compliments:</label>
    <input type='text' name='compliments'>
  </div>
  <div>
    <input type="submit" value="Submit this Compliment!">
  </div>
</form>
