<!DOCTYPE html>
<html>
  <head>
    <title> WDI6 Compliments </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
    <h1>Hey there <%= name %>, I hope u are good</h1>
    <p><%= message %></p>
  </body>
</html>
