<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1><%= title %></h1>
      <p>Compliments to help you power through your day</p>
    </header>
