<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Random Kindness! %></h1>
    <p>Welcome to your escape for motivation!<%= title %></p>
  </body>
</html>
