<form action="/compliments" method="post">
  <div>
    <label>Compliment:</label>
    <input type='text' name='compliment'>
  </div>
  <div>
    <input type='submit' value='Submit This Compliment!'>
  </div>
</form>
