<% include ./partials/header %>
    <h1>Add Compliment:</h1>
    <form class="compliment_form" action="index.html" method="post">
      <input type="text" name="compliment" value="">
      <button type="submit" name="button">Add</button>
    </form>
<% include ./partials/footer %>
