<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= compliments %></p>
		<input type="button" value="Tell me i'm pretty" onClick="window.location.reload()"></button>
  </body>
</html>
