<!DOCTYPE html>
<html>
  <head>
    <title>Compliment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2><%= compliment %></h2>
    <footer>&copy; 2016 Kyle Crichton</footer>
    </body>
    </html>
