<!DOCTYPE html>
<html>
  <head>
    <title><%= Emergency Compliments %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= E Compliments %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
