<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
		<h2><%= name %></h2>
    <p><%= compliments %></p>
		<input type="button" value="Tell me i'm pretty" onClick="window.location.reload()"></button>

		<input id="comp" method="post" type="text" />
  <input type="button" value="Save" onclick="insert()" />

		<!-- <form class="" action="index.html" method="post"> -->

		</form>
  </body>
</html>
