<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form name="new_user_form" id="new_user_form" method="post" action="/users">

        <div>
            Add your compliment:
            <input type="text" name="compliment" id="compliment">
        </div>
        <input type="submit" value="Save">
    </form>



</body>

</html>
