<% include partials/header %>

 <h1>Let's be nice.</h1>
 <p id="compliment"><%= compliment %></p>
 <button id="get-compliment" type="button">Get Warm Fuzzy</button>

 <% include partials/footer %>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>trsting</title>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="compliment"><%= compliment %></h1>
    put rc because that's the key, and the value is randomCompliment
    <p>
      <button id="thanksButton">Thanks!</button>
    </p>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html> -->
