<% include partials/header %>

 <h1>Well heller there <%= name %>!</h1>
 <p id="compliment"><%= compliment %></p>
 <button id="get-compliment" type="button" name="get-compliment">New Compliment</button>

<% include partials/footer %>
