body {
  padding: 50px;
  font: 20px 'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(255,238,231);
}

a {
  color: #00B7FF;
}

#compliment {
  background-color: rgba(4,123,58,0.5);
  border-radius: 10px;
  padding: 50px;
  margin: 5% 20%;
  font: 60px 'Amatic SC', bolder;
  color: #fff;
}

#refresh {
  background-color: rgb(255,247,247);
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: double;
  font: 20px 'Raleway', sans-serif;
}

footer {
  font-size: 14px;
  margin-top: 200px;
}
