<form action="/" method="post">
  <div>
    <label>Compliment:</label>
    <input type="text" name="compliment">
  </div>
  <div>
    <input type="submit" value="Submit your new compliment">
  </div>
</form>
