<% include ./partials/header %>

<div id="main">
  <p id="compliment"><%= compliment %></p>
</div>

<button id="refresh" onClick="window.location.reload()">Refresh</button>

<% include ./partials/footer %>
