<% include partials/header %>

<h1>Hi there <%= name %>!</h1>
<p id="compliment"><%= compliment %></p>
<button id="new-compliment" type="button" name="new-compliment">New Compliment</button>

<% include partials/footer %>
