<!DOCTYPE html>
<html>
  <head>
    <title>Custom Compliment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/' method='post'>
      <input type='text' name='compliment'>
      <input type='submit' value="Submit Compliment!">
    </form>
  </body>
</html>
