<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2><%=compliment%></h2>
<button type="button" name="generator" onClick="window.location.reload()">EMO-gency Compliment Generator</button>
  </body>
</html>
