<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hey <%=name%>. </h1>
    <h2><%=compliment%></h2>
    <button type="button" name="generator" onClick="window.location.reload()">EMO-gency Compliment Generator</button>

</html>
