<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        background-color: <%= color %>;
      }
    </style>
  </head>
  <body>
    <h1>Emergency Compliment</h1>
    <p><%=" " + greeting +"!" %></p>
    <p><%= compliment %></p>
  </body>
</html>
