<form action="/name" method="post">
  <div>
    <label>Compliments:</label>
    <input type='text' name='compliment' value='1'><label>compliment</label>
    <input type='text' name='compliment' value='2'><label>compliment</label>
    <input type='text' name='compliment' value='3'><label>compliment</label>
  </div>
  <div>
    <input type='submit' value='Submit This Compliment!'>
  </div>
</form>


