<form action = "/" method = "post">
  <div>
    <label>Add a Compliment list</label>

    <input type='text' name='newCompliments'>
  </div>

  <div>
   <input type='submit' value='Submit This Compliment'>
  </div>
</form>
